body {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
  color: #282828;
}

header {
  background-color: #282828;
  color: whitesmoke;
}

ul {
  display: flex;
  padding: 25px;
  list-style: none;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.icon {
  width: 25px;
}

li {
  cursor: pointer;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.caption {
  display: flex;
  margin: 0 25px;
  gap: 20px;
  justify-content: space-between;
}

.item-img {
  width: 100%;
  display: block;
}

.align-right {
  margin: 0 0 auto auto;
}

.img-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
}

.item {
  position: relative;
}

.btn {
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px 15px;
  font-weight: 700;
  align-self: center;
}

.chatbox-bg {
  display: flex;
  background-color: #dda15e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 6px;
  right: 6px;
}

.chatbox-img {
  margin: auto;
  width: 50%;
}
